body {

    background-color: black;
    text-align: center;

}

h1 {

    color: orange;
    font-family:monospace;
    font-size: 70px;

}

h3 {

    color: cyan;
    font-size: 50px;
    font-family:monospace;

}

h5 {
    color: orange;
    font-size: 30px;
    font-family:monospace;
    margin: 20px;
}

div {

    text-align: left;
}

a {
    color:white;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    font-family:monospace;
}